.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 2.5rem 5rem;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.logo {
  font-size: 3rem;
  margin-right: auto;
}

.spacerSmall {
  min-width: 1rem;
}

.language {
  font-size: 1.8rem;
}

.side {
  flex: 1;
}

.content {
  min-width: 20ch;
  max-width: 80ch;
  height: 100%;
  flex: 1;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article > p {
  margin-top: 1rem;
}

.main {
  padding: 2.5rem 5rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3rem;
}

.publishDate {
  color: var(--gray);
}

.heroImage {
  width: 100%;
}

.p1 {
  font-weight: 650;
}

.dropdownWrapper {
  margin: 4rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.dropdownWrapper > span {
  margin-right: 1rem;
}

.cityData {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityData > p {
  margin-bottom: 1rem;
}

.ciggs {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
